In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

pd.options.display.float_format = '{:,.2f}'.format

In [5]:
df = pd.read_csv('kc_house_data.csv')

In [6]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,"221,900.00",3,1.00,1180,5650,1.00,0,0,...,7,1180,0,1955,0,98178,47.51,-122.26,1340,5650
1,6414100192,20141209T000000,"538,000.00",3,2.25,2570,7242,2.00,0,0,...,7,2170,400,1951,1991,98125,47.72,-122.32,1690,7639
2,5631500400,20150225T000000,"180,000.00",2,1.00,770,10000,1.00,0,0,...,6,770,0,1933,0,98028,47.74,-122.23,2720,8062
3,2487200875,20141209T000000,"604,000.00",4,3.00,1960,5000,1.00,0,0,...,7,1050,910,1965,0,98136,47.52,-122.39,1360,5000
4,1954400510,20150218T000000,"510,000.00",3,2.00,1680,8080,1.00,0,0,...,8,1680,0,1987,0,98074,47.62,-122.05,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,"360,000.00",3,2.50,1530,1131,3.00,0,0,...,8,1530,0,2009,0,98103,47.70,-122.35,1530,1509
21609,6600060120,20150223T000000,"400,000.00",4,2.50,2310,5813,2.00,0,0,...,8,2310,0,2014,0,98146,47.51,-122.36,1830,7200
21610,1523300141,20140623T000000,"402,101.00",2,0.75,1020,1350,2.00,0,0,...,7,1020,0,2009,0,98144,47.59,-122.30,1020,2007
21611,291310100,20150116T000000,"400,000.00",3,2.50,1600,2388,2.00,0,0,...,8,1600,0,2004,0,98027,47.53,-122.07,1410,1287
21612,1523300157,20141015T000000,"325,000.00",2,0.75,1020,1076,2.00,0,0,...,7,1020,0,2008,0,98144,47.59,-122.30,1020,1357

In [7]:
df.drop('id', axis=1, inplace=True)

In [8]:
df['sqft_yard'] = df['sqft_lot'] - df['sqft_living']
df['sqft_yard15'] = df['sqft_lot15'] - df['sqft_living15']

In [9]:
df['price_per_sqft'] = df['price'] / df['sqft_lot']

In [10]:
df['norm_price'] = (df["price"] - df['price'].min()) / (df['price'].max() - df['price'].min()) # min-max normalization

In [11]:
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,sqft_yard,sqft_yard15,price_per_sqft,norm_price
0,20141013T000000,"221,900.00",3,1.00,1180,5650,1.00,0,0,3,...,0,98178,47.51,-122.26,1340,5650,4470,4310,39.27,0.02
1,20141209T000000,"538,000.00",3,2.25,2570,7242,2.00,0,0,3,...,1991,98125,47.72,-122.32,1690,7639,4672,5949,74.29,0.06
2,20150225T000000,"180,000.00",2,1.00,770,10000,1.00,0,0,3,...,0,98028,47.74,-122.23,2720,8062,9230,5342,18.00,0.01
3,20141209T000000,"604,000.00",4,3.00,1960,5000,1.00,0,0,5,...,0,98136,47.52,-122.39,1360,5000,3040,3640,120.80,0.07
4,20150218T000000,"510,000.00",3,2.00,1680,8080,1.00,0,0,3,...,0,98074,47.62,-122.05,1800,7503,6400,5703,63.12,0.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,20140521T000000,"360,000.00",3,2.50,1530,1131,3.00,0,0,3,...,0,98103,47.70,-122.35,1530,1509,-399,-21,318.30,0.04
21609,20150223T000000,"400,000.00",4,2.50,2310,5813,2.00,0,0,3,...,0,98146,47.51,-122.36,1830,7200,3503,5370,68.81,0.04
21610,20140623T000000,"402,101.00",2,0.75,1020,1350,2.00,0,0,3,...,0,98144,47.59,-122.30,1020,2007,330,987,297.85,0.04
21611,20150116T000000,"400,000.00",3,2.50,1600,2388,2.00,0,0,3,...,0,98027,47.53,-122.07,1410,1287,788,-123,167.50,0.04
21612,20141015T000000,"325,000.00",2,0.75,1020,1076,2.00,0,0,3,...,0,98144,47.59,-122.30,1020,1357,56,337,302.04,0.03